@model Session

@{
    ViewBag.Title = Literals.SessionEdit;
}

<h2>@Literals.SessionEdit</h2>
<hr />

@Html.Partial("_EditForm")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            setActiveMenuItem("SessionsMenuItem");
            $('#timeAndDate').datetimepicker({
                locale: 'es'
            });
        });
    </script>
}
